<EditForm Model="category" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Category:</label>
        <div>
            <InputText @bind-Value="@category.Name" class="form-control"></InputText>
            <ValidationMessage For="@(() => category.Name)" />
        </div>
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
</EditForm>

@code {
    //Realisation locate in Pages/Categories/CreateCategory and EditCategory
    [Parameter] public Category category { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}